.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20px 40px;
  margin: 0 auto;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: blue;
  color: white;
}
